Repository http4s/blaze, pull requests merged in 2022-12, with the labels that each got.

#776 Mark "split large buffers" test flaky
  core/src/test/scala/org/http4s/blaze/pipeline/stages/SSLStageSuite.scala
  testkit/src/main/scala/org/http4s/blaze/testkit/BlazeTestSuite.scala
Labels: module:blaze-core, module:blaze-testkit, series/0.23

#777 Merge series/0.23 into main
  .github/workflows/ci.yml
  build.sbt
  core/src/test/scala/org/http4s/blaze/pipeline/stages/SSLStageSuite.scala
  project/build.properties
  project/plugins.sbt
  testkit/src/main/scala/org/http4s/blaze/testkit/BlazeTestSuite.scala
Labels: module:blaze-core, module:blaze-testkit

#766 Spelling
  blaze-client/src/main/scala/org/http4s/blaze/client/PoolManager.scala
  blaze-client/src/test/scala-2.13/org/http4s/client/blaze/BlazeClient213Suite.scala
  blaze-client/src/test/scala/org/http4s/blaze/client/PoolManagerSuite.scala
  blaze-core/src/test/scala/org/http4s/blaze/core/websocket/Http4sWSStageSpec.scala
  build.sbt
  core/src/main/scala/org/http4s/blaze/util/BufferTools.scala
  core/src/main/scala/org/http4s/blaze/util/Execution.scala
  core/src/test/scala/org/http4s/blaze/util/TaskQueueSuite.scala
  http/src/main/java/org/http4s/blaze/http/parser/BodyAndHeaderParser.java
  http/src/main/scala/org/http4s/blaze/http/http2/ConnectionImpl.scala
  http/src/main/scala/org/http4s/blaze/http/http2/FlowStrategy.scala
  http/src/main/scala/org/http4s/blaze/http/http2/FrameDecoder.scala
  http/src/main/scala/org/http4s/blaze/http/http2/HeaderAggregatingFrameListener.scala
  http/src/main/scala/org/http4s/blaze/http/http2/StreamFlowWindow.scala
  http/src/test/scala/org/http4s/blaze/http/HeaderNamesSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/ByteBufferInputStreamSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/FrameDecoderSuite.scala
  http/src/test/scala/org/http4s/blaze/http/http2/HeaderAggregatingFrameListenerSuite.scala
  http/src/test/scala/org/http4s/blaze/http/parser/ClientParserSuite.scala
  http/src/test/scala/org/http4s/blaze/http/parser/HttpTokensSuite.scala
  http/src/test/scala/org/http4s/blaze/http/parser/ServerParserSuite.scala
Labels: module:blaze-core, module:http4s-blaze-core, module:http4s-blaze-server, module:http4s-blaze-client
